div.acontent{
    position: fixed;
    top: 100px;
    left: 20%;
    border-radius: 4px;
    width: 800px;
    height: 550px;
    z-index: 4;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px black;
    display: flex;
}
div.whitepart{
    width: 65%;
    height: 100%;
    background-color: white;

}
div.bluepart{
    width: 35%;
    height: 100%;
    background-color: rgb(44, 112, 221);
    text-align: center;
}
div.form form h4{
    color: rgb(98, 93, 93);
    font-size: 12px;
    margin-top: -10px;
}
div.form form h4 span{
    color: blue;
}

 a{
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

div.adddown{
    text-align: center;
}
 button.submit{
    padding: 4px;
    margin: 15px;
    width:80%;
    border: none;
    outline: none;
    background-color: rgb(255, 123, 0);
    color: white;
    opacity: 01;
    
    border-radius: 5px;
}

div.bluepart h2{
    color: white;
    font-size: 28px;
    margin-top: 50px;
    padding: 5px;
}
div.bluepart h3{
    color: rgb(206, 203, 203);
    font-size: 17px;
    padding: 10px;
    margin-top: 30px;
}
div.whitepart div.checkaddress{
    margin-top: 30px;
}
div.whitepart form input{
   padding: 10px;
   text-align: left;
   position: absolute;
   right: 20px;
   border: 1px solid rgb(45, 39, 134);
}
div.whitepart form input:focus{
    border: 1px solid rgb(15, 0, 231);
}
div.whitepart form label{
    text-align: left;
    margin-left: 30px;
    font-size: 18px;
    color: rgb(61, 61, 230);
}
div.whitepart form div.row{
    display: flex;
}
@media (min-width:1450px){
    div.acontent{
        width: 900px;
    }
}



